$screen-md-min: 768px;

@mixin mobile {
    @media (max-width: $screen-md-min){
        @content; 
    }
}

#rows {
    background: rgba(44, 62, 80, 0.8) ;
    border-radius: 25px;
    @include mobile {
        border-radius: 0px;
    }
  }

#rows h4{
    font-family: 'Raleway';
    // font-size: ;
}

#nodejs {
    width: 40%
}

#javascript {
    width: 22%
}

#react {
    width: 25%
}

#sass {
    width: 25%;
}

#html5 {
    width: 25%
}

#css3 {
    width: 30%
}

// #nodejs {
//     width: 40%
// }

#jestjs{
    width: 20%
};

#mongodb{
    width: 25%
};

#postgreSQL{
    width: 25%
};

#rails{
    width: 30%
};

#ruby{
    width: 20%
}

#sql{
    width: 30%
}

#R_Logo{
    width: 30%
}

#matlab{
    width: 30%
}

#sas{
    width: 40%
}